:root {
  --background-color: #ECECEC;

  /* Text colors */
  --text-color-primary: #1A1A1A;
  --text-color-secondary: #333333;
  --text-color-accent: #1a4ba3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1E1E1E;

    /* Text colors */
    --text-color-primary: #EAEAEA;
    --text-color-secondary: #CCCCCC;
    --text-color-accent: #4DA6FF;
  }
}

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

  flex-direction: column;
  background-color: var(--background-color);

  scroll-behavior: smooth;

  font-size: 16px;
}

@media (max-width: 600px) {
  html, body {
    font-size: 14px;
  }
}

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color-primary);
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-primary);
}

p {
  font-size: 1rem;
  color: var(--text-color-primary);
}

a {
  color: var(--text-color-accent);
}

.body-text {
  font-size: 1rem;
  color: var(--text-color-primary);
}

.body-small-text {
  font-size: 0.85rem;
  color: var(--text-color-primary);
}

.caption-text {
  font-size: 0.75rem;
  color: var(--text-color-primary);
}

label {
  font-size: 0.75rem;
  font-weight: medium;
  color: var(--text-color-primary);
}

.quote-text {
  font-size: 1rem;
  font-style: italic;
  color: var(--text-color-primary);
}

.button-text {
  font-size: 0.8rem;
  font-weight: medium;
  color: var(--text-color-primary);
}

.secondary {
  opacity: 0.7;
}