/* Theme and color schemes */
:root {
  --background-color: #ECECEC;
  --background-color-secondary: #F5F5F5;

  /* Text colors */
  --text-color-primary: #1A1A1A;
  --text-color-secondary: #333333;
  --text-color-accent: #1a4ba3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1E1E1E;
    --background-color-secondary: #2A2A2A;

    /* Text colors */
    --text-color-primary: #EAEAEA;
    --text-color-secondary: #CCCCCC;
    --text-color-accent: #4DA6FF;
  }
}

/* Base Styles */
html {
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--background-color);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  scroll-behavior: smooth;
  text-align: center;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  -webkit-overflow-scrolling: touch;
}

.noscript-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: var(--background-color);
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Generic HTML Elements */
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color-primary);
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-primary);
}

p {
  font-size: 1rem;
  color: var(--text-color-primary);
}

a {
  color: var(--text-color-accent);
}

.body-text {
  font-size: 1rem;
  color: var(--text-color-primary);
}

.body-small-text {
  font-size: 0.85rem;
  color: var(--text-color-primary);
}

.caption-text {
  font-size: 0.75rem;
  color: var(--text-color-primary);
}

label {
  font-size: 0.75rem;
  font-weight: medium;
  color: var(--text-color-primary);
}

.quote-text {
  font-size: 1rem;
  font-style: italic;
  color: var(--text-color-primary);
}

.button-text {
  font-size: 0.8rem;
  font-weight: medium;
  color: var(--text-color-primary);
}

.secondary {
  color: color-mix(in srgb, var(--text-color-primary) 70%, transparent);
}

/* --- Styles --- */

/* Header */
.header {
  padding: 0 1rem;
  padding-top: calc(env(safe-area-inset-top));

  display: flex;
  flex-direction: column;
  gap: 0;

  position: sticky;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 1000;
}

.header-top-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  line-height: 1rem;
  
  background: var(--background-color);
}

.header-title-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.header-title-beta-container > h4 {
  margin: 0;
  padding: 0;

  line-height: 0;
}

.header-title-beta-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 0.2em;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

.tabbar {
  position: relative;
  align-self: center;

  display: flex;

  background: #dddddd67;

  padding: 0.2rem;
  border-radius: 999px;
  width: calc((70% / var(--tabs)) - 4px);

  box-shadow:
    inset 1px 1px 0 rgba(255, 255, 255, 0.3),
    inset -1px -1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06),
    0 4px 12px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(12px);
}

@media (max-width: 800px) {
  .tabbar {
    width: calc((100% / var(--tabs)) - 4px);
  }
}

.tab {
  flex: 1;

  border: none;
  background: none;

  padding: 8px 2px;

  font-size: 14px;
  font-weight: 500;

  border-radius: 999px;

  cursor: pointer;

  z-index: 1;

  color: #555;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  will-change: color;
}

.material-symbols-outlined {
  font-size: 22px !important;
}

.tab.active {
  color: var(--text-color-accent);

  font-weight: bold;
}

.tab-indicator {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;

  width: calc((100% / var(--tabs)) - 4px);

  background: rgba(218, 218, 218, 0.821);
  border-radius: 999px;

  box-shadow:
    inset 1px 1px 0 rgba(255, 255, 255, 0.3),
    inset -1px -1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 0 0 0.5px rgba(0, 0, 0, 0.04);

  will-change: transform, width;
  transition:
    transform 0.28s cubic-bezier(.2, .8, .2, 1),
    width 0.28s cubic-bezier(.2, .8, .2, 1);

  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .tabbar {
    background: rgba(71, 71, 71, 0.294);
  }

  .tab {
    color: #AAA;
  }

  .tab-indicator {
    background: #5e5e5e70;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-32px);
    scale: 0.75;
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    scale: 1;
  }
}

.slide-in-top {
  animation: slide-in-top 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Tab content */
.body-container {
  padding-top:2rem;
}

.tab-content {
  padding: 0 1rem;

  animation: disappear 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.tab-content.visible {
  animation: appear 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(8px);
    transform: scale(0.95);
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  text-align: start;

  padding: 1rem 0;
}

.section-header-title, 
.section-header-subtitle,
.subsection-header-title,
.subsection-header-subtitle {
  margin: 0;
  padding: 0;
}

.section-header-title {
  font-size: 2rem;
  font-weight: bold;
}

.section-header-subtitle {
  font-size: 1.35rem;
}

@media (max-width: 600px) {
  .section-header-title {
    font-size: 1.75rem;
  }

  .section-header-subtitle {
    font-size: 1rem;
  }
}

.subsection-header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subsection-header-subtitle {
  font-size: 0.85rem;
}

@media (max-width: 600px) {
  .subsection-header-title {
    font-size: 1.25rem;
  }

  .subsection-header-subtitle {
    font-size: 0.75rem;
  }
}